<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyntraTestAutomation">
    <listeners>
        <listener class-name="utils.TNGListeners.TestNGListeners"/>
    </listeners>

    <test name="LoginTest" parallel="classes" thread-count="1">
        <classes>
            <class name="myntraTests.MyntraTest"/>
        </classes>
    </test>
</suite>